@charset "utf-8";
html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
  font-family: arial, tahoma, sans-serif;
  color: #000;
  color: rgba(0, 0, 0, 0.7);
  line-height: 135%;
}
* {
  margin: 0px;
}
img {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

h1 {
  margin: 30px 0;
  font-size: 1.8em;
  line-height: 135%;
}
h2 {
  margin: 20px 0;
  font-size: 1.5em;
  line-height: 135%;
}
h3 {
  margin: 15px 0;
  font-size: 1.3em;
  line-height: 135%;
}


p {
  margin: 20px 0;
}

#box {
  width: 1044px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  min-height: 808px;
}
#box #top {
  height: 20px;
  width: 1044px;
  font-family: Arial, Helvetica, sans-serif;
  color: #858585;
  text-align: right;
  padding-top: 4px;
  word-spacing: 10px;
}


#box #logo {
  height: 115px;
  width: 1044px;
  text-align: center;
  padding-bottom: 30px;
}
#box #menu {
  float: left;
  width: 210px;
  color: #444;
}
#box #content {
  width: 740px;
  min-height: 400px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  background-image: url(../images/bgcontent.png);
  background-repeat: repeat;
  padding: 30px;
  border-radius: 3px;
}
#box #spacer {
  height: 30px;
  clear: both;
}

#footer {
  width:100%;
  height:21px;
  background-image: url(../images/bottom-repeat.png);
  background-repeat: repeat-x;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #C0C0C0;
  font-size: 12px;
  padding-top: 9px;
  margin-top: 26px;
  position: relative;
}
#apDiv1 {
  position:absolute;
  width:1193px;
  height:784px;
  z-index:-1000;
  background-image: url(../images/baum_shaddow.png);
  background-repeat: no-repeat;
  right: 50%;
  top: 24px;
  margin-right: -800px;
}
#box #top a {
  color: #858585;
  font-size: 14px;
  text-decoration: none;
}
#box #top a:hover {
  color: #CCC;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}


#content h1 {
  text-align: center;
}
#content h1:first-child {
  margin-top: 0;
}


#content .links {
  height: 61px;
  margin: 30px 0 10px 0;
  position: relative;
}

#content .links .back,
#content .links .next {
  position: absolute;
  top: 0;
  display: block;
  width: 75px;
  height: 61px;
}

#content .links .back {
  background: url("../images/back.png") no-repeat left top;
  left: 10px;
}
#content .links .back span {
  display: none;
}

#content .links .next {
  background: url("../images/next.png") no-repeat left top;
  right: 10px;
}
#content .links .next span {
  display: none;
}

